* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
  line-height: 1.6;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #1b05e2, #e71010);
  color: white;
  text-align: center;
  padding: 80px 20px;
  border-radius: 10px;
  
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: white;
  color: #4e4376;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* SECTIONS */
section {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #4e4376;
}

/* ABOUT */
.about p {
  text-align: center;
  font-size: 1.1rem;
}

/* SKILLS */
.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.skill-grid span {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* EXPERIENCE */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h3 {
  color: #2b5876;
}

.card .date {
  font-style: italic;
  color: #777;
  margin-bottom: 10px;
}

.card ul {
  padding-left: 20px;
}

/* EDUCATION */
.education ul {
  list-style: none;
}

.education li {
  background: white;
  margin-bottom: 12px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}
.outcoming {
    background: white;
  margin-bottom: 12px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* CONTACT */
.contact {
  text-align: center;
}

footer {
  background: #2b5876;
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 1rem;
    }
}